body {
  margin: 0;
  font-family: "DM Sans", "Poppins", "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #212529 !important;
}

h1 {
  font-size: 3.5rem !important;
}

h2 {
  font-size: 1rem !important;
}

button {
  border: none;
  background-color: black;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.hero-section {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/image/Lucia-Desperati.jpeg"); */
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  height: 80vh;
}

.portfolio-bg-image {
  display: none;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio-bg-image__pizza {
  background-image: url("https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png");
}
.portfolio-bg-image__weather {
  background-image: url("https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png");
}
.portfolio-bg-image__valencia {
  background-image: url("https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png");
}
.portfolio-bg-image__dictionary {
  background-image: url("https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png");
}

.placeholder-icon--square {
  border: 1px solid black;
  width: 60px;
  height: 60px;
}

@media (min-width: 576px) {
  .portfolio-bg-image {
    display: block;
  }
}